[submodule "third_party/diffusion_policy"]
	path = third_party/diffusion_policy
	url = https://github.com/real-stanford/diffusion_policy.git
[submodule "third_party/love"]
	path = third_party/love
	url = https://github.com/yidingjiang/love.git
[submodule "third_party/bid_diffusion"]
	path = third_party/bid_diffusion
	url = https://github.com/YuejiangLIU/bid_diffusion
[submodule "third_party/bid_lerobot"]
	path = third_party/bid_lerobot
	url = https://github.com/Jubayer-Hamid/bid_lerobot
